<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asia.covisoft.goom">

    <permission
        android:name="com.myapp.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <!-- <uses-feature -->
    <!-- android:glEsVersion="0x00020000" -->
    <!-- android:required="true" /> -->
    <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> -->
    <!-- <permission -->
    <!-- android:name="com.example.permission.MAPS_RECEIVE" -->
    <!-- android:protectionLevel="signature" /> -->
    <!-- <uses-permission android:name="com.example.permission.MAPS_RECEIVE" /> -->


    <application
        android:name=".GoOm"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="goom.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.order.OrderFoodPickRestaurantActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderFoodActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderMadeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderConfirmActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderPickDriverActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderPickLocationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderPickContactActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderCourierActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderShoppingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderTransportActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderFoodPickFoodActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.order.OrderFoodOrderedActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.history.HistoryDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.settings.SettingsSignupActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.settings.SettingsSignupVerifyActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.settings.SettingsLoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.settings.SettingsProfileActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="asia.covisoft.goomdriver" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="asia.covisoft.goom.gcm.GoOmGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="asia.covisoft.goom.gcm.GoOmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="asia.covisoft.goom.gcm.RegistrationIntentService"
            android:exported="false"></service>
        <service android:name="asia.covisoft.goom.service.CancelTipService" />
    </application>

</manifest>
